*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

@font-face {
  font-family: "poppins";

  src: url("./fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

.invisible {
  visibility: hidden;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-\[-176px\] {
  bottom: -176px;
}

.bottom-\[-70px\] {
  bottom: -70px;
}

.bottom-\[10px\] {
  bottom: 10px;
}

.left-\[-100px\] {
  left: -100px;
}

.left-\[-118px\] {
  left: -118px;
}

.left-\[-125px\] {
  left: -125px;
}

.left-\[-50px\] {
  left: -50px;
}

.left-\[70px\] {
  left: 70px;
}

.right-0 {
  right: 0px;
}

.right-\[-107px\] {
  right: -107px;
}

.right-\[-30px\] {
  right: -30px;
}

.right-\[-500px\] {
  right: -500px;
}

.right-\[-50px\] {
  right: -50px;
}

.right-\[10px\] {
  right: 10px;
}

.right-\[200px\] {
  right: 200px;
}

.top-\[-100px\] {
  top: -100px;
}

.top-\[-130px\] {
  top: -130px;
}

.top-\[-200px\] {
  top: -200px;
}

.top-\[-300px\] {
  top: -300px;
}

.top-\[-30px\] {
  top: -30px;
}

.top-\[-50px\] {
  top: -50px;
}

.top-\[-60px\] {
  top: -60px;
}

.top-\[-90px\] {
  top: -90px;
}

.top-\[0\] {
  top: 0;
}

.top-\[10px\] {
  top: 10px;
}

.top-\[3rem\] {
  top: 3rem;
}

.z-10 {
  z-index: 10;
}

.z-\[-1\] {
  z-index: -1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-\[32px\] {
  margin-bottom: 32px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[110px\] {
  margin-top: 110px;
}

.mt-\[120px\] {
  margin-top: 120px;
}

.mt-\[12px\] {
  margin-top: 12px;
}

.mt-\[13px\] {
  margin-top: 13px;
}

.mt-\[17px\] {
  margin-top: 17px;
}

.mt-\[1rem\] {
  margin-top: 1rem;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[24px\] {
  margin-top: 24px;
}

.mt-\[29px\] {
  margin-top: 29px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[31px\] {
  margin-top: 31px;
}

.mt-\[32px\] {
  margin-top: 32px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[98px\] {
  margin-top: 98px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-\[32px\] {
  width: 32px;
  height: 32px;
}

.size-\[36px\] {
  width: 36px;
  height: 36px;
}

.size-\[74px\] {
  width: 74px;
  height: 74px;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[280px\] {
  height: 280px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[330px\] {
  height: 330px;
}

.h-\[337px\] {
  height: 337px;
}

.h-\[340px\] {
  height: 340px;
}

.h-\[360px\] {
  height: 360px;
}

.h-\[361px\] {
  height: 361px;
}

.h-\[370px\] {
  height: 370px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[540px\] {
  height: 540px;
}

.h-\[80px\] {
  height: 80px;
}

.h-full {
  height: 100%;
}

.w-3\/4 {
  width: 75%;
}

.w-\[1200px\] {
  width: 1200px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[290px\] {
  width: 290px;
}

.w-\[293px\] {
  width: 293px;
}

.w-\[310px\] {
  width: 310px;
}

.w-\[340px\] {
  width: 340px;
}

.w-\[360px\] {
  width: 360px;
}

.w-\[600px\] {
  width: 600px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.max-w-\[860px\] {
  max-width: 860px;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[12px\] {
  gap: 12px;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[1rem\] {
  gap: 1rem;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[29px\] {
  gap: 29px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[35px\] {
  gap: 35px;
}

.gap-\[53px\] {
  gap: 53px;
}

.gap-\[7\.75px\] {
  gap: 7.75px;
}

.gap-\[7px\] {
  gap: 7px;
}

.gap-\[8px\] {
  gap: 8px;
}

.gap-x-\[30px\] {
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.gap-y-\[40px\] {
  row-gap: 40px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-\[34px\] {
  border-radius: 34px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-\[6px\] {
  border-radius: 6px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-b-\[1rem\] {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-tl-\[1rem\] {
  border-top-left-radius: 1rem;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[\#ffffff10\] {
  border-color: #ffffff10;
}

.bg-\[\#111827\] {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.bg-\[\#1D4ED873\] {
  background-color: #1D4ED873;
}

.bg-\[\#1D4ED8C9\] {
  background-color: #1D4ED8C9;
}

.bg-\[\#2563EB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.bg-\[\#5141DA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(81 65 218 / var(--tw-bg-opacity));
}

.bg-\[\#923283\] {
  --tw-bg-opacity: 1;
  background-color: rgb(146 50 131 / var(--tw-bg-opacity));
}

.bg-\[\#969696\] {
  --tw-bg-opacity: 1;
  background-color: rgb(150 150 150 / var(--tw-bg-opacity));
}

.bg-\[\#D946EF6E\] {
  background-color: #D946EF6E;
}

.bg-\[\#ffffff10\] {
  background-color: #ffffff10;
}

.bg-transparent {
  background-color: transparent;
}

.bg-\[\#2563EB50\] {
  background-color: #2563EB50;
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-\[\#2563EB\] {
  --tw-gradient-from: #2563EB var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(37 99 235 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#84D8ED\] {
  --tw-gradient-from: #84D8ED var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(132 216 237 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#8684ED\] {
  --tw-gradient-from: #8684ED var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(134 132 237 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#8A7FD9\] {
  --tw-gradient-from: #8A7FD9 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(138 127 217 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#92EFC3\] {
  --tw-gradient-from: #92EFC3 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(146 239 195 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#BC7FD9\] {
  --tw-gradient-from: #BC7FD9 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(188 127 217 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#D97F95\] {
  --tw-gradient-from: #D97F95 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(217 127 149 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#2F8F5B\] {
  --tw-gradient-to: #2F8F5B var(--tw-gradient-to-position);
}

.to-\[\#402F8F\] {
  --tw-gradient-to: #402F8F var(--tw-gradient-to-position);
}

.to-\[\#4247BB\] {
  --tw-gradient-to: #4247BB var(--tw-gradient-to-position);
}

.to-\[\#4292BB\] {
  --tw-gradient-to: #4292BB var(--tw-gradient-to-position);
}

.to-\[\#923250\] {
  --tw-gradient-to: #923250 var(--tw-gradient-to-position);
}

.to-\[\#923283\] {
  --tw-gradient-to: #923283 var(--tw-gradient-to-position);
}

.to-\[\#D946EF\] {
  --tw-gradient-to: #D946EF var(--tw-gradient-to-position);
}

.bg-clip-text {
  -webkit-background-clip: text;
          background-clip: text;
}

.p-\[1rem\] {
  padding: 1rem;
}

.px-\[14px\] {
  padding-left: 14px;
  padding-right: 14px;
}

.px-\[23px\] {
  padding-left: 23px;
  padding-right: 23px;
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}

.px-\[37px\] {
  padding-left: 37px;
  padding-right: 37px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[32px\] {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-\[37px\] {
  padding-top: 37px;
  padding-bottom: 37px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pb-\[38px\] {
  padding-bottom: 38px;
}

.pl-\[25px\] {
  padding-left: 25px;
}

.pl-\[44px\] {
  padding-left: 44px;
}

.pr-\[49px\] {
  padding-right: 49px;
}

.pt-\[50px\] {
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.font-poppins {
  font-family: poppins;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[21px\] {
  font-size: 21px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[42px\] {
  font-size: 42px;
}

.text-\[58px\] {
  font-size: 58px;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.text-\[\#F9FAFB\] {
  --tw-text-opacity: 1;
  color: rgb(249 250 251 / var(--tw-text-opacity));
}

.text-transparent {
  color: transparent;
}

.opacity-0 {
  opacity: 0;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur-\[200px\] {
  --tw-blur: blur(200px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.placeholder\:text-white::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.placeholder\:text-white::placeholder {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-\[-5px\]::after {
  content: var(--tw-content);
  bottom: -5px;
}

.after\:left-0::after {
  content: var(--tw-content);
  left: 0px;
}

.after\:right-0::after {
  content: var(--tw-content);
  right: 0px;
}

.after\:mx-auto::after {
  content: var(--tw-content);
  margin-left: auto;
  margin-right: auto;
}

.after\:h-\[1px\]::after {
  content: var(--tw-content);
  height: 1px;
}

.after\:w-0::after {
  content: var(--tw-content);
  width: 0px;
}

.after\:bg-gradient-to-r::after {
  content: var(--tw-content);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.after\:from-\[\#D946EF\]::after {
  content: var(--tw-content);
  --tw-gradient-from: #D946EF var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(217 70 239 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:via-\[\#2563EB\]::after {
  content: var(--tw-content);
  --tw-gradient-to: rgb(37 99 235 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #2563EB var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.after\:to-\[\#D946EF\]::after {
  content: var(--tw-content);
  --tw-gradient-to: #D946EF var(--tw-gradient-to-position);
}

.after\:transition-all::after {
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:scale-125:hover {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:pl-\[1rem\]:hover {
  padding-left: 1rem;
}

.hover\:after\:w-full:hover::after {
  content: var(--tw-content);
  width: 100%;
}

@media (max-width: 1250px) {
  .xl\:w-\[1000px\] {
    width: 1000px;
  }

  .xl\:text-\[19px\] {
    font-size: 19px;
  }

  .xl\:text-\[22px\] {
    font-size: 22px;
  }

  .xl\:text-\[37px\] {
    font-size: 37px;
  }

  .xl\:text-\[38px\] {
    font-size: 38px;
  }
}

@media (max-width: 1050px) {
  .lg\:mt-\[80px\] {
    margin-top: 80px;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-\[60\%\] {
    width: 60%;
  }

  .lg\:w-\[800px\] {
    width: 800px;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .lg\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:gap-y-\[4rem\] {
    row-gap: 4rem;
  }

  .lg\:px-\[1rem\] {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-\[32px\] {
    font-size: 32px;
  }
}

@media (max-width: 850px) {
  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-\[600px\] {
    width: 600px;
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:gap-\[30px\] {
    gap: 30px;
  }

  .md\:text-\[28px\] {
    font-size: 28px;
  }

  .md\:text-\[31px\] {
    font-size: 31px;
  }
}

@media (max-width: 650px) {
  .sm\:mt-\[2rem\] {
    margin-top: 2rem;
  }

  .sm\:w-\[400px\] {
    width: 400px;
  }

  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .sm\:gap-\[1rem\] {
    gap: 1rem;
  }

  .sm\:gap-\[2rem\] {
    gap: 2rem;
  }

  .sm\:pb-\[28px\] {
    padding-bottom: 28px;
  }

  .sm\:pl-\[10px\] {
    padding-left: 10px;
  }

  .sm\:pl-\[16px\] {
    padding-left: 16px;
  }

  .sm\:pr-\[10px\] {
    padding-right: 10px;
  }

  .sm\:pt-\[22px\] {
    padding-top: 22px;
  }

  .sm\:text-\[15px\] {
    font-size: 15px;
  }

  .sm\:text-\[20px\] {
    font-size: 20px;
  }

  .sm\:text-\[22px\] {
    font-size: 22px;
  }

  .sm\:text-\[42px\] {
    font-size: 42px;
  }
}

@media (max-width: 450px) {
  .xs\:fixed {
    position: fixed;
  }

  .xs\:top-\[6rem\] {
    top: 6rem;
  }

  .xs\:right-\[1rem\] {
    right: 1rem;
  }

  .xs\:top-\[5\.5rem\] {
    top: 5.5rem;
  }

  .xs\:mx-\[1rem\] {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .xs\:mx-\[0\.5rem\] {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .xs\:w-full {
    width: 100%;
  }

  .xs\:w-calc-2rem {
    width: calc(100% - 2rem);
  }

  .xs\:w-\[100vw\] {
    width: 100vw;
  }

  .xs\:w-svw {
    width: 100svw;
  }

  .xs\:w-lvw {
    width: 100lvw;
  }

  .xs\:w-\[100\%\] {
    width: 100%;
  }

  .xs\:w-\[90\%\] {
    width: 90%;
  }

  .xs\:w-\[20\%\] {
    width: 20%;
  }

  .xs\:w-min {
    width: -moz-min-content;
    width: min-content;
  }

  .xs\:w-max {
    width: -moz-max-content;
    width: max-content;
  }

  .xs\:max-w-\[400px\] {
    max-width: 400px;
  }

  .xs\:px-\[1rem\] {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .xs\:text-\[30px\] {
    font-size: 30px;
  }

  .xs\:text-\[19px\] {
    font-size: 19px;
  }

  .xs\:text-\[14px\] {
    font-size: 14px;
  }
}